body{
  background-color: #e0e3ff;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 150px; 
}
.container{
  width: 400px;
  height: 400px;
  background-color: #ffffff;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.container h1 {
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 40px;
  font-weight: bold;
  color: #252eff;
  padding-top: 20px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}
input[type="text"],
input[type="password"] {
  width: 352px;
  height: 32px;
  border-radius: 10px;
  border: 2px solid #6066ff;
  font-size: 15px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}
input::placeholder {
  padding-left: 10px;
  font-size: 15px;
  color: #000000;
  opacity: 70%;
}   
.button  {
  display: inline-block;
  width: 153px;
  height: 38px;
  line-height: 38px; /* centers text vertically */
  border-radius: 10px;
  background-color: #252eff;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border: none;
  cursor: pointer !important;
  margin-left: 100px;
}

.button:hover {
  background-color: #030975;
  text-decoration: none;
}
a {
  text-decoration: none; 
  color: #252eff; 
  font-weight: 100;
  
}
a:hover {
  text-decoration: underline;
}
p {
  text-align: center;
  margin-top: 20px;
  font-size: 14px;
  color: #000000;
  opacity: 70%;
}
